<nav class="navbar navbar-light bg-light" fixed-top>
  <a class="navbar-brand">
    <img src="https://ideogram.ai/assets/image/lossless/response/5spItt-IRL-6pNnCL211_Q" width="30" height="30" class="d-inline-block align-top" alt="Logo da empresa">
    Produtos
  </a>
  
  <!--<form  class="form-inline d-flex justify-content-center col-md-9">
    <input class="form-control mr-sm-2" type="search" placeholder="Ex: Notebook, Iphone XR, Mouse e etc...">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
  </form>-->
</nav>